%scroll-button {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: darken($general-light-blue-color, 20%);
  cursor: pointer;
  transition: .3s;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
}

%scroll-button:hover {
  transform: scale(.90);
}

.button-left{
  @extend %scroll-button;
  top: 65%;
  margin-left: 1.5rem;
}

.button-right{
  @extend %scroll-button;
  top: 65%;
  right: 0;
  margin-right: 1.5rem;
}
