%scroll-button {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: darken($general-light-blue-color, 20%);
  cursor: pointer;
  transition: .3s;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 4;
  margin-left: 2rem;
}

%scroll-button:hover {
  transform: scale(.90);
}

.button-left{
  @extend %scroll-button;
  bottom: 55%;
}

.button-right{
  @extend %scroll-button;
  bottom: 55%;
  right: 0;
  margin-right: 0.5rem;
}

.table-button{
  color: #ffffff;
  background-color: $table-buttons-color;
  font-family: $font-1;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0, 0.3);
  z-index: 99;
}

.table-button:hover {
  cursor: pointer;
  background-color: darken($table-buttons-color, 10);
}

.border-radius-closed {
  border-radius: 25px;
}

.border-radius-open {
  border-radius: 25px 25px 0 0;
}

#news-container-button {
  margin: 0 auto 44px auto;
  border-radius: 30px;
  color: #fff;
  background-color: $text-black-color;
  cursor: pointer;
  font-family: $font-1;
  transition: .3s;
}

#news-container-button:hover {
  transform: scale(.98);
}
