$font-stack: 'Open Sans', sans-serif, Arial, Helvetica;
$navbar-text-color: #30333C;
$navbar-text-focus-color: #ff8700;
$navbar-mobile-background-color: #b6bac1;
$navbar-mobile-text-color: #fff;
$navbar-height: 71px;

