#contact-container {
    background-color: #fff;
    display: flex;
    box-shadow: 0px 0px 7px 0px rgba(#000, 0.3);

    #employees-container {
        background-color: $general-light-blue-color;
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;

        #employees-inner-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 1;

            .employee {

                img {
                    border-radius: 50%;
                    object-fit: cover;
                }

                .info-container{
                    display: flex;
                    flex-direction: column; 
                    justify-content: center;

                    span {
                        margin: 3px 0;
                    }

                    .employee-name {
                        font-weight: bold;
                        color: $darker-blue-color;
                        font-family: $font-1;
                    }

                    .employee-email {
                        color: $text-light-black-color;
                        font-family: $font-2;
                        font-weight: 600;
                    }

                    .employee-phone {
                        color: $text-light-black-color;
                        font-family: $font-2;
                        font-weight: 600;
                    }
                }

            }
        }

        #triangle-bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-left: 80px solid $general-light-blue-color;
            z-index: 0;
        }
    }

    #form-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $text-light-black-color;

        #form-title {
            color: $darker-blue-color;
            font-weight: bold;
            font-family: $font-1;
        }

        #contact-form {
            font-family: $font-2;  

            .form-input-element {
                border: none;
                width: 90%;
                outline: none;
                border-bottom: 1px solid rgba($color: #6F88B1, $alpha: 0.4);
                font-family: $font-2;
                font-weight: 500;
                color: $text-light-black-color;
            } 

            #checkbox-container {
                width: 90%;
                display: block;
                position: relative;
                cursor: pointer;
                font-weight: 500;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                #custom-checkbox-container {
                    position: absolute;
                    left: 0;
                    border: 1px solid $darker-blue-color;
                }

                #custom-checkbox {
                    position: absolute;
                    background-color: #fff;
                    transition: .3s;
                }
            }

            #checkbox-container:hover #custom-checkbox   {
                background-color: $table-buttons-color;
            }

            #checkbox-container input:checked ~ #custom-checkbox-container #custom-checkbox  {
                background-color: $darker-blue-color;
            }

            #form-submit-button {
                color: #fff;
                background-color: $text-black-color;
                border: none;
                text-align: center;
                font-weight: bold;
                font-family: $font-1;
                cursor: pointer;
                transition: .3s;
                outline: none;
            }

            #form-submit-button:hover {
                transform: scale (.98);
                background-color: $darker-blue-color;
            }

            .form-error {
                color: #E36464;
                font-weight: 600;
                width: 90%;
            }
        }
    }
}

