//General
$font-stack: 'Open Sans', sans-serif, Arial, Helvetica;
$general-light-blue-color: #E8F1FF;
$table-buttons-color: #A7C0E8;

//Navbar

//$navbar-text-color: #30333C;
$navbar-text-focus-color: #ff8700;
$navbar-mobile-background-color: #b6bac1;
$navbar-height: 71px;

//Gallery


