@media only screen and (max-width: 320px){

  .gallery-container {
    height: 420px;
    margin-bottom: 40px;

    .title {
      min-width: 250px;
      margin-left: 16px;

      .main-title {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .sliding-container{
      width: 100%;
      .card{
        width: 200px;

        .card-image {
          height: 200px;
          width: 200px;
        }

        .text-container{
          padding: 14px 2px 16px 20px;

          span {
            font-size: 14px;
          }

          p {
            margin: 8px 0;
            line-height: 14px;
            font-size: 10px;
          }
        }
      }
    }
  }

  // TABLE


  // NEWS


    #news-container{
  
      #news-cards-container {
  
        .news-card {
          p {
            width: 180px;
            font-size: 16px;
          }
      }
      }
      #news-container-button {
        width: 160px;
        height: 40px;
        font-size: 12px;
      }
    }

    //CONTACTS

  #contact-container {
    flex-direction: column;
    height: 100%;

    #employees-container {
      height: 100%;
    
    #employees-inner-container {
      padding-bottom: 0;
      margin: 20px 0;

      .employee {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 80px;
          min-width: 80px;
          height: 80px;
        }

      .info-container{
        margin: 0 16px;

        .employee-name {font-size: 16px;}

        .employee-email .employee-phone {font-size: 10px;}
      }
      }
    }
    #triangle-bottom-right {border-bottom: 500px solid #fff;}
  }

    #form-container {
    height: 572px;

      #form-title {
        width: 95%;
        font-size: 20px;
      }

      .form-input-element {
        line-height: 28px;
        font-size: 14px;
        margin: 10px 0 0 0;
      }
      
      #checkbox-container {
        padding-left: 40px;
        font-size: 12px;
        line-height: 18px;
        margin: 10px 0;

        #custom-checkbox-container {
          top: 5px;
          height: 22px;
          width: 22px;
        }

        #custom-checkbox {
          top: 3px;
          left: 3px;
          height: 14px;
          width: 14px;
        }
      }
      
      #form-submit-button {
        margin: 15px 0;
        width: 160px;
        height: 40px;
        font-size: 12px;
        border-radius: 20px;

        i {
          font-size: 16px;
          padding-left: 10px;
        }
      }

      .form-error {
        font-size: 10px;
      }
    }
  }
  
  // FOOTER

    #footer-container {
      padding: 5px 10px;
      flex-direction: column;
  
        #links-container {
  
        span{
            font-size: 12px;
        }
        
        a{
            font-size: 10px;
        }  
      }
  
      #icons-container {
        width: 100%;

        i {
          font-size: 16px;
        }
      }
    }
}



