@media only screen and (max-width: 320px){

  .gallery-container {
    height: 500px;

    .title {
      min-width: 250px;
      margin-left: 1rem;

      .main-title {
        font-size: 0.7rem;
      }
    }

    .sliding-container{
      .card{
        min-width: 200px;
        margin-left: 0.5rem;
        margin-right: 1.5rem;

        .card-image {
          max-height: 200px;
          min-height: 200px;
        }

        .text-container{
          padding: 0 0.5rem;

          h2 {
            line-height: 1rem;
            font-size: 0.8rem;
          }

          p {
            text-align: justify;
            font-size: 0.7rem;
            line-height: 0.9rem;
          }
        }
      }
    }
  }

  // TABLE


  // NEWS


    #news-container{
  
      #news-cards-container {
  
        .news-card {
          p {
            width: 180px;
            font-size: 16px;
          }
      }
      }
      #news-container-button {
        width: 160px;
        height: 40px;
        font-size: 12px;
      }
    }

    //CONTACTS

  #contact-container {
    flex-direction: column;
    height: 100%;

    #employees-container {
      height: 100%;
    
    #employees-inner-container {
      padding-bottom: 0;
      margin: 20px 0;

      .employee {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 80px;
          min-width: 80px;
          height: 80px;
        }

      .info-container{
        margin: 0 16px;

        .employee-name {font-size: 16px;}

        .employee-email .employee-phone {font-size: 10px;}
      }
      }
    }
    #triangle-bottom-right {border-bottom: 500px solid #fff;}
  }

    #form-container {
    height: 572px;

      #form-title {
        width: 95%;
        font-size: 20px;
      }

      .form-element {
        line-height: 28px;
        font-size: 14px;
        margin: 10px 0;
      }
      
      #checkbox-container {
        padding-left: 40px;
        font-size: 12px;
        line-height: 18px;
        margin: 10px 0;

        #custom-checkbox-container {
          top: 5px;
          height: 22px;
          width: 22px;
        }

        #custom-checkbox {
          top: 3px;
          left: 3px;
          height: 14px;
          width: 14px;
        }
      }
      
      #form-submit-button {
        margin: 15px 0;
        width: 160px;
        height: 40px;
        font-size: 12px;
        border-radius: 20px;

        i {
          font-size: 16px;
          padding-left: 10px;
        }
      }

    }

  }

}



