#footer-container {
    width: 100%;
    background-color: $text-black-color;
    box-shadow: 0px 0px 7px 0px rgba(#000, 0.3);
    display: flex;
    justify-content: space-between;
    font-family: $font-2;
    color: #fff;

    #links-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        div {
            display: flex;
            flex-direction: column;
        }

        span{
            font-weight: bold;
        }
        
        a{
            text-decoration: none;
            color: #fff;
            margin: 10px 0;
        }
        
    }

    #icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        i {
            font-size: 22px;
            margin: 0 10px;
            cursor: pointer;
            transition: .3s;
        }

        i:hover {
            transform: scale(.98);
        }
    }
}




