.gallery-container {
  width: 100%;
  height: 800px;
  background-color: $general-light-blue-color;
  position: relative;
  z-index: 0;

  .test {
    width: 35%;
    min-width: 350px;
    margin-left: 3rem;
  }

  &-white{
    width: 66%;
    min-width: 300px;
    height: 83%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 350px;

    .white-effect-bar{
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 350px;
      background: linear-gradient(90deg, rgba(255,255,255,0.17408961875765927) 0%,
              rgba(255,255,255,0.45420166357558645) 50%, rgba(255,255,255,0.8911764534915528) 100%);
      z-index: 2;
    }
  }

  .main-title {
    letter-spacing: 0.3rem;
    font-weight: 600;
  }

  &-inner{
    width: 88%;
    height: 630px;
    position: absolute;
    bottom: -100;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    .sliding-container{
      width: 100%;
      display: flex;
      scroll-behavior: smooth;
      transition: 1s ease-in-out;

      .card{
        z-index: 1;
        display: inline-block;
        width: 348px;
        height: 609px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px 100px 10px 10px;
        flex: 0 0 auto;
        background-color: #fff;

        .card-image{
          height: 55%;
          width: 100%;
          border-radius: 0 100px 0 0;
        }

        .text-container {
          line-height: 1.5rem;
          background-color: #fff;
          padding: 1.5rem;

          .fa-arrow-right{
            float: right;
            font-size: 2rem;
            cursor: pointer;
            transition: .3s;
          }

          .fa-arrow-right:hover {
            transform: scale(.90);
          }
        }
      }
    }
  }
}

