@media only screen and (min-width: 1250px) {
  .navbar-link {
    color: #30333C;
  }


  //GALLERY
  .gallery-container {
    .title {
      .main-title {
        font-size: 2.5rem;
      }
    }
    .gallery-container-white{
      .white-effect-bar {
        display: block;
      }
    }

    .sliding-container{
      .card{
        .text-container{
          padding: 0 2rem;

          h2 {
            line-height: 1.8rem;
            font-size: 1.7rem;
          }

          p {
            text-align: justify;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}

