@media only screen and (min-width: 1367px) {
  .navbar-link {
    color: #30333C;
  }


  //GALLERY
  .gallery-container {
    margin-bottom: 100px;
    .title {
      padding: 48px 0;
      margin-left: 48px;
      .main-title {
        font-size: 50px;
      }
    }
    .gallery-container-white{
      .white-effect-bar {
        display: block;
      }
    }

    .sliding-container{
      .card{
        
        .card-image {
          max-height: 350px;
          min-height: 350px;
        }

        .text-container{
          padding: 0 32px;

          h2 {
            font-size: 26px;
            font-weight: 600;
          }

          p {
            text-align: justify;
            line-height: 24px;
            font-size: 18px;
          }
        }
      }
    }
  }

  // TABLE

  .table-container {
    margin: 150px 44px 25px 44px;

    .buttons-container{
      padding: 25px;
      display: flex;
      .selection-box{
        .button-select-box{
          position: absolute;
          left: 0;
          top: 75px;
          div {
            padding: 15px 25px;
          }
        }
      }
      .table-button{
        font-size: 20px;
        margin: 25px 0;
        padding: 15px 25px;
        min-width: 250px;
        .button-text {
          min-width: 200px;
          .table-arrow {
            padding-left: 16px;
          }
        }
      }
    }

    #table-search-message-box {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 60px;
    }

    .table{
      width: 100%;
      font-size: 20px;
      th, td {
        padding: 10px;
        text-align: start;
        vertical-align: top;
      }
      th:first-child, td:first-child {
        padding-left: 2%;
      }
      th:last-child, td:last-child {
        padding-left: 4%;
      }
    }
  }

  // NEWS

  #news-container-heading {
      margin: 0 88px 20px 88px;
      font-size: 50px;
  }

  #news-container{


    #news-cards-container {
      justify-content: space-between;
      padding: 44px 88px;

      .news-card {
        p {
          width: 272px;
          font-size: 26px;
        }
      }
    }

    #news-container-button {
      width: 300px;
      height: 60px;
      font-size: 20px;
    }

  }

// CONTACTS

#contact-container {
  height: 772px;
  margin-top: 50px;

  #employees-container {

      #employees-inner-container {
        padding-bottom: 50px;

        .employee {
          display: flex;
          margin: 20px 10px;

            img {
                width: 130px;
                height: 130px;
            }

            .info-container{ 
              margin: 0 32px;

              .employee-name {font-size: 26px;}

              .employee-email .employee-phone {font-size: 18px;}
            }

        }
    }

    #triangle-bottom-right {border-bottom: 772px solid #fff;}

  }

    #form-container {
      padding: 60px 30px 30px 30px;

      #form-title {
        width: 70%;
        font-size: 50px;
        margin-bottom: 15px;
      }
      .form-input-element {
        line-height: 40px;
        font-size: 20px;
        margin: 12px 0 0 0;
      }

      #checkbox-container {
        padding-left: 50px;
        font-size: 18px;
        line-height: 36px;
        margin: 12px 0;

        #custom-checkbox-container {
          top: 10px;
          height: 29px;
          width: 29px;
        }

        #custom-checkbox {
          top: 4px;
          left: 4px;
          height: 20px;
          width: 20px;
        }
      }

      #form-submit-button {
        margin: 15px 0;
        width: 197px;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;

        i {
          font-size: 24px;
          padding-left: 10px;
        }
      }

      .form-error {
        font-size: 14px;
      }

    }
  }


}









