@media only screen and (min-width: 1367px) {
  .navbar-link {
    color: #30333C;
  }


  //GALLERY
  .gallery-container {
    .title {
      padding: 3rem 0;
      .main-title {
        font-size: 2.5rem;
      }
    }
    .gallery-container-white{
      .white-effect-bar {
        display: block;
      }
    }

    .sliding-container{
      .card{
        
        .card-image {
          max-height: 350px;
          min-height: 350px;
        }

        .text-container{
          padding: 0 2rem;

          h2 {
            line-height: 1.8rem;
            font-size: 1.7rem;
          }

          p {
            text-align: justify;
            line-height: 1.6rem;
          }
        }
      }
    }
  }

  // TABLE

  .table-container {
    margin-top: 100px;
    .buttons-container{
      padding: 25px;
      display: flex;
      .selection-box{
        .button-select-box{
          position: absolute;
          left: 0;
          top: 75px;
          div {
            padding: 15px 25px;
          }
        }
      }
      .table-button{
        font-size: 20px;
        margin: 25px 0;
        padding: 15px 25px;
        .button-text {
          min-width: 200px;
          .table-arrow {
            padding-left: 16px;
          }
        }
      }
    }
    .table{
      width: 100%;
      font-size: 20px;
      th, td {
        padding: 10px;
        text-align: start;
        vertical-align: top;
      }
      th:first-child, td:first-child {
        padding-left: 2%;
      }
      th:last-child, td:last-child {
        padding-left: 4%;
      }
    }
  }
}








