@media only screen and (min-width: 640px) and (max-width: 1367px) {
  .main-title{
    font-size: 2rem;
  }

 .navbar-link {
   color: #30333C;
 }

  //GALLERY

  .white-effect-bar {
    display: none;
  }

  .card {
    h2 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

}

