@media only screen and (min-width: 640px) and (max-width: 1367px) {

 .navbar-link {
   color: #30333C;
 }

  //GALLERY

  .gallery-container {
    width: 100%;
    height: 550px;
    .title {
      padding: 1.5rem 0;
      .main-title {
        font-size: 1.8rem;
      }
    }
    .gallery-container-white{
      .white-effect-bar {
        display: none;
      }
    }

    &-inner {

      .button-left{
        bottom: 45%;
      }
      .button-right{
        bottom: 45%;
      }

      .sliding-container{
        .card{
          margin: 0 2rem;
          width: 300px;

          .card-image {
            height: 300px;
          }

          .text-container{
            padding: 0 1rem;

            h2 {
              line-height: 1.4rem;
              font-size: 1.2rem;
            }

            p {
              text-align: justify;
              font-size: 1rem;
              line-height: 1.2rem;
            }
          }
        }
      }
    }
  }
  //TABLE

  .table-container {
    margin: 50px 22px 25px 22px;
    @media only screen and (min-width: 640px) and (max-width: 780px){margin: 50px 6px 25px 6px;}
    .buttons-container{
      justify-content: space-around;
      .selection-box{
        .button-select-box{
          position: absolute;
          top: 68px;
          left: 0;
          div {
            padding: 10px 20px;
            font-size: 16px;
            @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 12px;}
          }
        }
      }
      .table-button{
        font-size: 16px;
        @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 12px;}
        margin: 25px 0;
        padding: 15px 10px;
        min-width: 150px;
        .button-text {
          white-space: nowrap;
          min-width: 155px;
          @media only screen and (min-width: 640px) and (max-width: 900px){min-width: 90px;}
          padding: 0 20px;
          @media only screen and (min-width: 640px) and (max-width: 900px){padding: 0 5px;}
          .table-arrow {
            padding-left: 8px;
          }
        }
      }
    }

    #table-search-message-box {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 48px;
    }

    .table{
      width: 100%;
      font-size: 18px;
      @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 12px;}
      th, td {
        padding: 10px;
        text-align: start;
        vertical-align: top;
      }
      th:last-child, td:last-child {
        padding-left: 4%;
      }
    }
  }

  // NEWS
  #news-container-heading {
    margin: 0 88px 20px 88px;
    font-size: 40px;
}

  #news-container{

    #news-cards-container {
      justify-content: space-around;
      padding: 33px 66px;

      .news-card {
        p {
          width: 222px;
          font-size: 20px;
        }
      }
    }
    #news-container-button {
      width: 240px;
      height: 50px;
      font-size: 18px;
    }
  }

  
// CONTACTS

  #contact-container {
    height: 772px;
    margin-top: 50px;

    #employees-container {

        #employees-inner-container {
          padding-bottom: 50px;

          .employee {
            display: flex;
            margin: 20px 10px;

              img {
                  width: 120px;
                  min-width: 120px;
                  height: 120px;
              }

              .info-container{
                  margin: 0 32px;

                  .employee-name {font-size: 24px;}

                  .employee-email .employee-phone {font-size: 16px;}
              }

          }
      }
      #triangle-bottom-right {border-bottom: 772px solid #fff;}
    }

    #form-container {
      padding: 30px 10px 10px 10px;

      #form-title {
        width: 95%;
        font-size: 40px;
        @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 30px;}
      }
      .form-input-element {
        line-height: 32px;
        @media only screen and (min-width: 640px) and (max-width: 900px){line-height: 24px;}
        font-size: 18px;
        margin: 18px 0 0 0;
      }
      
      #checkbox-container {
        padding-left: 40px;
        font-size: 16px;
        @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 12px;}
        line-height: 24px;
        @media only screen and (min-width: 640px) and (max-width: 900px){line-height: 18px;}
        margin: 10px 0;

        #custom-checkbox-container {
          top: 5px;
          height: 26px;
          width: 26px;
        }

        #custom-checkbox {
          top: 3px;
          left: 3px;
          height: 18px;
          width: 18px;
        }
      }
      
      #form-submit-button {
        margin: 15px 0;
        width: 177px;
        height: 50px;
        font-size: 18px;
        border-radius: 25px;

        i {
          font-size: 20px;
          padding-left: 10px;
        }
      }

      .form-error {
        font-size: 12px;
      }
    }
  }
}

