.navbar {
  position: fixed;
  width: 100%;
  height: $navbar-height;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  background-color: #fff;
  padding: 0.5rem calc((100vw - 1367px) /2);

  &-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;

    .home-link {
      text-decoration: none;
      color: #30333C;
    }

    .navbar-toggle {
      display: none;
    }

    .navbar-menu {

      .navbar-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        list-style-type: none;
        -webkit-transition: color .3s ease-in-out;
        -o-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;

        .navbar-link {
          text-decoration: none;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }

        .navbar-link:hover {
          color: $navbar-text-focus-color;
        }

        .navbar-item:hover {
          -webkit-transform: scale(.97);          -ms-transform: scale(.97);          transform: scale(.97);
        }
      }
    }

    .nav-logo {
      font-size: 22px;
      font-weight: 600;
    }

  }
}