@media only screen and (max-width: 640px) {

#navbar-inner-container {

    .navbar-toggle {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      outline: none;

      i {
        font-size: 24px;
        transition: .3s;
      }

      i:hover {
        transform: scale(.96);
      }
    }

    .navbar-menu {
      position: fixed;
      top: $navbar-height;
      bottom: 0;
      transition: .2s;
      opacity: 0;
      visibility: hidden;
      left: 0;
      right: 0;
    }
}

  //Toggling the mobile navbar

  #navbar-container.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
  }

  .navbar-links {
    background-color: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    .navbar-item{
      margin: 1rem;
      width: 100%;
      border-radius: 5px;
      text-align: center;
      font-weight: 600;
      border-bottom: 3px solid #d3d3d3;

      .navbar-item:hover{
        cursor: pointer;
      }

      .navbar-link {
        color: #d3d3d3;
        font-size: 1.5rem;
      }
    }
  }

  #navbar-container .navbar-links {
    padding: 1em;
    max-height: none;
  }

  //GALLERY

  .gallery-container {
    height: 500px;
    margin-bottom: 40px;

    .title {
      padding: 16px;

      .main-title {
        font-size: 24px;
        margin-left: 20px;
      }
    }
    &-inner {
      .white-effect-bar {
        display: none;
      }

      .button-left{
        font-size: 13px;
        margin-left: 7px;
        width: 35px;
        height: 35px;
        bottom: 50%;
      }
      .button-right{
        font-size: 13px;
        margin-right: 7px;
        width: 35px;
        height: 35px;
        bottom: 50%;
      }
    }
    .sliding-container{
      width: 88%;
      @media only screen and (min-width: 400px) and (max-width: 440px){width: 92%;}
      @media only screen and (min-width: 320px) and (max-width: 400px){width: 100%;}

      .card{
        width: 250px;

        .card-image {
          height: 250px;
          width: 250px;
        }

        .text-container{
          padding: 20px 4px 20px 28px;

          span {
            font-size: 18px;
          }

          p {
            margin: 10px 0;
            line-height: 16px;
            font-size: 12px;
          }
        }
      }
    }
  }

//  TABLE

  .table-container {
    width: 100%;
    min-width: 240px;
    overflow-x: auto;
    .buttons-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      .selection-box{
        .button-select-box{
          top: 45px;
          div {
            font-size: 12px;
            padding: 10px 15px;
          }
        }
      }
      .table-button{
        font-size: 12px;
        margin-top: 10px;
        padding: 15px 25px;
        min-width: 200px;
        .button-text {
          min-width: 150px;
          .table-arrow {
            padding-left: 8px;
          }
        }
      }
    }

    #table-search-message-box {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 36px;
    }

    .table{
      width: 100%;
      font-size: 12px;
      @media only screen and (min-width: 640px) and (max-width: 900px){font-size: 12px;}
      
      th, td {
        padding: 5px;
        text-align: start;
        vertical-align: top;
      }
    }
  }

  // NEWS
  #news-container-heading {
    margin: 0 44px 20px 44px;
    font-size: 30px;
  }

  #news-container{

    #news-cards-container {
      justify-content: center;
      padding: 22px 22px;

      .news-card {

        p {
          width: 220px;
          font-size: 20px;
        }
      }
    }
    #news-container-button {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }
  }

//CONTACTS

  #contact-container {
    flex-direction: column;
    height: 100%;

    #employees-container {
    height: 500px;
    
    #employees-inner-container {
      padding-bottom: 50px;

      .employee {
        display: flex;
        margin: 10px 5px;

          img {
              width: 100px;
              min-width: 100px;
              height: 100px;
          }

          .info-container{
            margin: 0 16px;

            .employee-name {font-size: 20px;}

            .employee-email .employee-phone {font-size: 12px;}
          }

      }
    }
    #triangle-bottom-right {border-bottom: 500px solid #fff;}
  }

    #form-container {
      height: 772px;
      padding: 0 30px;

      #form-title {
        width: 95%;
        font-size: 40px;
        @media only screen and (min-width: 320px) and (max-width: 440px){font-size: 30px;}
      }

      .form-input-element {
        line-height: 32px;
        font-size: 18px;
        margin: 18px 0 0 0;
      }
      
      #checkbox-container {
        padding-left: 40px;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0;

        #custom-checkbox-container {
          top: 5px;
          height: 26px;
          width: 26px;
        }

        #custom-checkbox {
          top: 3px;
          left: 3px;
          height: 18px;
          width: 18px;
        }
      }
      
      #form-submit-button {
        margin: 15px 0;
        width: 177px;
        height: 50px;
        font-size: 18px;
        border-radius: 25px;

        i {
          font-size: 20px;
          padding-left: 10px;
        }
      }

      .form-error {
        font-size: 12px;
      }

    }
  }

  // FOOTER

  #footer-container {
    padding: 15px 25px;
    @media only screen and (min-width: 320px) and (max-width: 500px){flex-direction: column;  padding: 10px 15px;}

      #links-container {

      span{
          font-size: 18px;
          @media only screen and (min-width: 320px) and (max-width: 500px){font-size: 14px;}
      }
      
      a{
          font-size: 14px;
          @media only screen and (min-width: 320px) and (max-width: 500px){font-size: 12px;}
      }  
    }

    #icons-container {
      @media only screen and (min-width: 320px) and (max-width: 500px){width: 100%; justify-content: flex-end;}
      width: 20%;
    }
  }

}




