@media only screen and (max-width: 640px) {

#navbar {

  .container {
    min-width: 280px;

    .navbar-toggle {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        -webkit-transition: background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
        background-color: #30333C;
      }

    }

    .navbar-toggle:focus .icon-bar,
    .navbar-toggle:hover .icon-bar {
      background-color: $navbar-text-focus-color;
    }

    .navbar-menu {
      position: fixed;
      top: $navbar-height;
      bottom: 0;
      -webkit-transition: opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      left: 0;
      right: 0;
    }
  }
}

  //Toggling the mobile navbar

  #navbar.opened .navbar-toggle .icon-bar:first-child,
  #navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
  }

  #navbar.opened .navbar-toggle .icon-bar:first-child {
    -webkit-transform: rotate(45deg);    -ms-transform: rotate(45deg);    transform: rotate(45deg);
  }

  #navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
  }

  #navbar.opened .navbar-toggle .icon-bar:last-child {
    -webkit-transform: rotate(-45deg);    -ms-transform: rotate(-45deg);    transform: rotate(-45deg);
  }

  #navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
  }

  .navbar-links {
    background-color: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    .navbar-item{
      margin: 1rem;
      width: 100%;
      border-radius: 5px;
      text-align: center;
      font-weight: 600;
      border-bottom: 3px solid #d3d3d3;

      .navbar-item:hover{
        cursor: pointer;
      }

      .navbar-link {
        color: #d3d3d3;
        font-size: 1.5rem;
      }
    }
  }

  #navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
  }

  //GALLERY

  .gallery-container {
    height: 560px;

    .title {
      padding-top: 0;
      padding-bottom: 1rem;

      .main-title {
        font-size: 1.3rem;
      }
    }
    &-inner {
      .white-effect-bar {
        display: none;
      }

      .button-left{
        font-size: 0.8rem;
        margin-left: 0.4rem;
        width: 35px;
        height: 35px;
        bottom: 50%;
      }
      .button-right{
        font-size: 0.8rem;
        margin-right: 0.4rem;
        width: 35px;
        height: 35px;
        bottom: 50%;
      }
    }
    .sliding-container{
      .card{
        min-width: 250px;
        margin-left: 0.5rem;
        margin-right: 1.5rem;

        .card-image {
          max-height: 250px;
          min-height: 250px;
        }

        .text-container{
          padding: 0 1rem;

          h2 {
            line-height: 1.1rem;
            font-size: 0.9rem;
          }

          p {
            text-align: justify;
            font-size: 0.8rem;
            line-height: 1rem;
          }
        }
      }
    }
  }

//  TABLE

  .table-container {
    .buttons-container{
      margin: 50px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .table-button{
        font-size: 12px;
        margin: 10px 25px;
        padding: 15px 25px;
        .button-text {
          min-width: 150px;
          .table-arrow {
            padding-left: 8px;
          }
        }
      }
    }
  }


}

