.bg-light-blue {
  background-color: #E8F1FF;
}

.table-container {
  border-radius: 1.5rem;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.4);
  z-index: 1;

  .buttons-container{
    display: flex;
    justify-content: space-between;

    .selection-box{
      position: relative;

      .button-text {
        pointer-events: none;
      }

      .table-arrow {
        pointer-events: none;
      }

      .button-select-box{
        width: 100%;
        border-radius: 0 0 20px 20px;
        background-color: #ffffff;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        flex-direction: column;
        font-size: 16px;
        text-align: center;
        color: $text-black-color;
        z-index: 1;

        div {
          border-top: 1px solid $table-buttons-color;
          transition: .3s;
          cursor: pointer;
          
          span {
            pointer-events: none;
          }
        }

        div:hover {
          background-color: $table-buttons-color;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    tbody {
      tr {
        border-top: 1px solid rgba(128, 128, 128, 0.1);
      }
    }
  }
}