
.table-container {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.4);
  z-index: 10;

  .buttons-container{
    display: flex;
    justify-content: space-between;
  }
}