@import "config";
@import "utilities";
@import "navbar";
@import "galery";
@import "table";
@import "buttons";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

.main {
  padding-top: $navbar-height;
}

.body-container {
  width: 100%;
  height: 1000px;
}

@import "large-screen";
@import "medium-screen";
@import "small-screen";
@import "extra-small-screen";